/* browser reset */
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; font-family: 'Open Sans', sans-serif;
}

.nav {
  background-color: dodgerblue;
  color: white;
  padding: 0px 25px;
}

.nav a {
  color: white;
}
